{% extends "base.html" %}
{% from "macros.html" import delete_modal, delete_script %}

{% block title %} Cards database {% endblock %}

{% block body %}
{{ delete_modal() }}
{{ delete_script() }}



<div class="container mx-lg-5 px-lg-5">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Version</th>
                <th scope="col">Stock</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            {% for card in cards %}
            <tr>
                <th scope="row">{{ card.id }}</th>
                <td>{{ card.name }}</td>
                <td>{{ card.version }}</td>
                <td>{{ card.stock }}</td>
                <td>{{ card.price }}</td>
                <td>
                    <a href="{{ url_for('cards.edit_card', card_id=card.id) }}" class="btn btn-success btn-sm">Edit</a>

                    <!-- data-desc tekst do wyswietlenia w oknie / data-url adres na ktory wskazuje formularz w oknie modalnym / data-bs-target to id modala do ktorego ma sie odnosic / Jinja nie aceptuje f-string -->
                    <a type="button" class="btn btn-danger btn-sm delete-confirm" data-bs-toggle="modal"
                       data-bs-target="#confirmDeleteModal" data-desc="{{ 'Remove card {} from database?'.format(card.name) }}"
                       data-url="{{ url_for('delete_card', card_id=card.id) }}">
                        Delete
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}