{% extends "base.html" %}
{% from "macros.html" import delete_modal, delete_script %}

{% block title %} Users database {% endblock %}

{% block body %}
{{ delete_modal() }}
{{ delete_script() }}



<div class="container mx-lg-5 px-lg-5">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Email</th>
                <th scope="col">Name</th>
                <th scope="col">Adress</th>
                <th scope="col">City</th>
                <th scope="col">Zip Code</th>
                <th scope="col">Country</th>
                <th scope="col">Is admin?</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <th scope="row">{{ user.id }}</th>
                <td>{{ user.email }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.adress }}</td>
                <td>{{ user.city }}</td>
                <td>{{ user.zipcode }}</td>
                <td>{{ user.country }}</td>
                <td>{{ user.is_admin }}</td>
                <td>
                    <a href="{{ url_for('admin.edit_user', user_id=user.id) }}" class="btn btn-success btn-sm">Edit</a>

                    <!-- data-desc tekst do wyswietlenia w oknie / data-url adres na ktory wskazuje formularz w oknie modalnym / data-bs-target to id modala do ktorego ma sie odnosic / Jinja nie aceptuje f-string -->
                    <a type="button" class="btn btn-danger btn-sm delete-confirm" data-bs-toggle="modal"
                       data-bs-target="#confirmDeleteModal" data-desc="{{ 'Remove user {} from database?'.format(user.name) }}"
                       data-url="{{ url_for('admin.delete_user', user_id=user.id) }}">
                        Delete
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}