{% extends "base.html" %}

{% block title %} Basket {% endblock %}

{% block body %}
    <div class="container mx-lg-5 px-lg-5">

        <div class="row">
            <h1>Your Basket</h1>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Version</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Subtotal</th>
                </tr>
            </thead>
            <tbody>
                {% for card in session['basket'] %}
                <tr>
                    <th scope="row">{{ card['card_id'] }}</th>
                    <td>{{ card['card'] }}</td>
                    <td>{{ card['version'] }}</td>
                    <td>{{ card['price'] }}</td>
                    <td>{{ card['quantity'] }}</td>
                    <td>{{ card['total'] }}</td>
                    <td><a href="{{ url_for('basket.delete_basket', card_id=card['card_id']) }}">Remove</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="row">
            <p class="col">Total price:</p>
            <p class="col">{{ total_price }}</p>
        </div>

        <a class="btn btn-info row-cols-1" href="{{ url_for('basket.checkout') }}">Go to checkout</a>

    </div>
{% endblock %}