{% extends "base.html" %}


{% block title %} {{ card.name }} {% endblock %}


{% block body %}
    <div class="container">

        <div class="row">
            <div class="col">
                <img src="{{ card.image }}">
            </div>
    
            <div class="col">
                <div class="row">
                    <h4 class="col">Name: </h4>
                    <div class="col"> {{ card.name }} </div>
                </div>
                <div class="row">
                    <h4 class="col">Version: </h4>
                    <div class="col"> {{ card.version }} </div>
                </div>
                <div class="row">
                    <h4 class="col">Avaible: </h4>
                    <div class="col"> {{ card.stock }} </div>
                </div>
                <div class="row">
                    <form id="add-basket" action="{{ url_for('basket.add_basket') }}" method="POST">
                        <input type="hidden" name="card_id" value="{{ card.id }}">
                        <h4 class="col-lg-1">Quantity: </h4>
                        <input type="number" class="form-control col-lg-1" name="quantity" min="1" max="{{ card.stock }}">

                        <button type="submit" class="btn btn-info row">Add</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
