{% extends "base.html" %}

{% block title %} One Piece Card Game Card Store {% endblock %}

{% block body %}
<div class="card-items mx-lg-5">

    <!-- batch returns a container with 4 objects in it. You need to iterate over them as well. -->
    {% for row in cards | batch(4) %}
        <div class="row">
            {% for card in row %}
            <div class="col-3 card-div text-center pb-lg-5">
                <h4>{{ card.name }}</h4>
                <img class="card-image" src="{{ card.image }}">
                <h4>{{ card.version }}</h4>
                <h4>{{ card.price }}</h4>
                <h4>Quantity</h4>
                <h4>Add to basket</h4>
            </div>
            {% endfor %}
        </div> 
    {% endfor %}
    
</div>
{% endblock %}
